# vim: set ft=ignore

# development environment files
**/.python-version
**/.envrc

# python files
**/__pycache__

# SQLite database
**/*.sqlite

# images except the one from documentation
**/*.png
!**/images/*.png
#!qrcode.png
#!schematics.png
